[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tasks = {editable = true, path = "."}
zipp = {editable = true, path = "."}

[requires]
python_version = "3.7"
